@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

*{
    margin: 0;
    padding: 0;
}

.myDesc{
    font-family: 'Montserrat', sans-serif;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Happy Monkey', cursive;
    background-color: beige;
    padding: 5px;

}

a{
    text-decoration: none;
    color: rgb(1, 145, 145);
}

.nav_link{
    list-style: none;
}

.nav_link li{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.contactButton{
    border: none;
    background-color: burlywood;
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
    color: black;
}

.contactButton:hover{
    background-color: rgb(225, 159, 72);
    transition: background-color 0.8s;
}


.footer{
    text-align: center;
    margin: 30px;
}

.cImage{
    width: 1000px;
    height: 300px;
}

.colorDedo a{
    padding: 8px;
}

.colorDedo a:hover{
    position: relative;
    bottom: 2px;
    color: blueviolet;
}

.contactmee{
    background-color: orange;
    border-radius: 10px;   
}

span{
    background-color: red;
    color: white;
    border-radius: 6px;
    position: relative;
    bottom: 10px;
    padding: 1px;
}

.productClassImgNew{
    width: 170px;
    height: 200px;
}

.imageSection{
    width: 200px;
}

.caro{
    width: 70%;
}